dn: cn=config
changetype: modify
replace: olcServerID
olcServerID: {{ serverID }}

dn: {{ config_dn }}
changetype: modify
replace: olcRootPW
olcRootPW: {{ secret_encrypted }}
{% if olcRootDN_exists %}
-
delete: olcRootDN
{% endif %}
